# Outputs
src/**/*.js
src/**/*.js.map
src/**/index.d.ts
src/**/index_spec.d.ts

# IDEs
.idea/
jsconfig.json
.vscode/

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
